<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <script type="application/javascript" src="lib/bower_components/angular/angular.js"></script>
        <script type="application/javascript" src="app.js"></script>
    </head>
    <body ng-app="application" ng-controller="OntologyController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 >{{message}}</h1>

        <header class="container" >
            <h1>Globalhack - Team 2048</h1>
        </header>
        
        <article>
            <!-- Filter -->
            <select name="" id="grid-filter">
                <option value=""></option>
                <option value="category-one">Category One</option>
                <option value="category-two">Category Two</option>
            </select>
            <!-- Add -->



            <button id="toggle-stamp">Focus</button>

            <button id="prepend-button" ng-click="more()">More</button>

        </article>

        <div masonry>
          <div class="masonry-brick" ng-repeat="brick in bricks">
            <span class="item category-one" ng-src="{{ brick.src }}" ng-click="hide(this)">{{ brick.noun }}</span>
          </div>
        </div>

        <!-- Ontology -->
        <div id="content" class="clearfix">
            <!--<div class="item category-one"></div>-->
            <!--<div class="item category-one"></div>-->
            <!--<div id="test" class="item featured"></div>-->
            <!--<div class="item category-two"></div>-->
            <!--<div class="item category-two"></div>-->
            <!--<div class="item featured"></div>-->
            <!--<div class="item"></div>-->
            <!--<div class="item"></div>-->
            <!--<div class="item"></div>-->
            <!--<div class="item"></div>-->
            <!--<div class="item"></div>-->
            <!--<div class="item"></div>-->
        </div>
        
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script type="application/javascript" src="lib/bower_components/jquery/dist/jquery.js"></script>

        <script type="application/javascript" src="lib/bower_components/angular-masonry/angular-masonry.js"></script>
        <script type="application/javascript" src="lib/bower_components/lodash/dist/lodash.js"></script>

    </body>
</html>
